<!-- conditionally apply the 'reminder' class if task.reminder is true  -->
<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="onToggle(task)"
>
  <!-- display the text from the task in an h3 -->
  <h3>
    {{ task.text }}
    <!-- add an icon at the end, and style it red -->
    <!-- define a click event to call onDelete, passing in the task so we can have context of it when deleting -->
    <fa-icon
      (click)="onDelete(task)"
      [ngStyle]="{ color: 'red' }"
      [icon]="faTimes"
    ></fa-icon>
  </h3>
  <!-- add the day in a p tag -->
  <p>{{ task.day }}</p>
</div>
