<!--
    in Angular, this tasks component will hold the task-item components
    we use ngFor to iterate over the number of tasks that we have,
    passing each task data down into the task-item component

    in React, this is similar to mapping over an array of data,
    returning a component with the data passed in as props

when our custom event 'onDeleteTask' is emitted, capture it and run the deleteTask function

-->
<app-task-item
  *ngFor="let task of tasks"
  [task]="task"
  (onDeleteTask)="deleteTask(task)"
  (onToggleReminder)="toggleReminder(task)"
></app-task-item>
