<!-- use ngIf when we want to conditionally render components -->
<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <!-- [(ngModel)] is how we can set up 2-way data binding, allowing us to update the value in realtime
    setting it to = "text"

    this is the same idea as a react-controlled input, 
    with state representing the value, 
    the html tag displaying the value of state, 
    and a change event updating state
    -->
    <input
      type="text"
      name="text"
      [(ngModel)]="text"
      id="text"
      placeholder="Add Task"
    />
  </div>

  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      type="text"
      name="day"
      [(ngModel)]="day"
      id="day"
      placeholder="Add Day & Time"
    />
  </div>
  <!-- {{ text }} {{ day }} {{ reminder }} 
    testing the inputs
    -->
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
